# Макет дашборда / Dashboard layout
<img src="https://i.ibb.co/cYT6W29/Image-1.png" alt="Макет дашборда">

In [1]:
#импортируем библиотеки
#import libraries
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

#подключаемся к БД
#connect to the database
engine = create_engine(connection_string)

In [2]:
#получаем сырые данные
#выполнить sql-запрос

#get raw data
#execute sql query
query = '''
            SELECT *
            FROM dash_visits
        '''
dash_visits = pd.io.sql.read_sql(query, con = engine)

In [3]:
dash_visits.to_csv('dash_visits.csv', index = False)

dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [4]:
#общая информация
#general info
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [5]:
#проверяем наличие дубликатов
#check dublicates
dash_visits.duplicated(subset=['record_id'])

0        False
1        False
2        False
3        False
4        False
         ...
30740    False
30741    False
30742    False
30743    False
30744    False
Length: 30745, dtype: bool

In [6]:
dash_visits[~dash_visits.duplicated(subset=['record_id'])]

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

**Ссылка на дашборд / Link to dashboard**: https://public.tableau.com/views/eventsbytopics/Dash_Dzen?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link

**Ссылка на презентацию в pdf / Link to presentation in pdf**: https://drive.google.com/file/d/1SMSggqLoRkOvQyZ5-sDeAWkIN4oWqyln/view?usp=sharing